.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('https://raw.githubusercontent.com/KingLee/awesome/master/marvel-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
